{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}" />
  </head>
  <body>
    <!-- Navbar Section -->
    <nav id="navbar" class="flex s-around bg-color">
      <div class="left-nav">
        <h2 class="t-white">Lokesh's Portfolio</h2>
      </div>
      <div class="right-nav">
        <ul class="flex">
          <li>
            <a href="#home" class="t-white roboto"
              >Home <i class="fa-solid fa-house"></i
            ></a>
          </li>
          <li>
            <a href="#about" class="t-white roboto"
              >About Me <i class="fa-solid fa-user"></i
            ></a>
          </li>
          <li>
            <a href="#skills" class="t-white roboto"
              >Skills <i class="fa-solid fa-code"></i
            ></a>
          </li>
          <li>
            <a href="#Projects" class="t-white roboto"
              >Projects <i class="fas fa-project-diagram"></i
            ></a>
          </li>
          <li>
            <a href="#Contact" class="t-white roboto"
              >Contact <i class="fa-solid fa-rocket"></i
            ></a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Home Section -->
    <section id="home" class="flex s-around sw-80 m-auto">
        <div class="home-left flex items-center">
            <div class="home-content">
                <h6 class="poppinss">Hi, I'm</h6>
                <h1 class="t-white">Lokesh Rengaraju</h1>
                <h4 class="poppinss">Software Engineer</h4>
                <a href="{% static 'pdf/Lokesh_Rengaraju.pdf' %}"  target="_blank">
                    <button class="btn poppins">Resume</button></a>
                    
                <a class="btn live poppins" id="hireme" href="https://www.linkedin.com/in/lokesh-rengaraju/"
                    target="_blank">Let's Connect</a>
            </div>
        </div>
        <div class="home-right flex s-center items-center">
            <div class="circle flex s-center items-center" id="mainImage">
               
                <img src="{% static 'images/mypic.jpg'%}" alt="">
            </div>

        </div>
    </section>
    

    <!-- About Section -->
    <section id="about">
        <h1 class="t-center my-2 t-white f-2">About Me</h1>
        <div class="about-container flex s-around ">
            <div class=" about-left flex s-center items-center">
                <!-- Here in src replade the given link with your secondary image link -->
                <img src="{%static 'images/dog.png'%}" alt="" style="width: 60%;">
            </div>

            <div class="about-right flex">
                <div class="about-content">
                    <h1 class="t-white m-b-1 poppins">Lokesh Rengaraju</h1>
                    <p class="t-white poppins"> <b>Software Engineer</b>
                        Graduated with Master's in Computer Science from San Diego State University, California at May 2024.
                        
                        
                        Research Student at San Diego State University Research Foundation, My work is on building Medical Question and Answer System, using NLP, BERT models, and Knowledge Graphs </p>
                        
                        
                    <p class="t-white poppins">
                        I am a passionate Backend Developer with a strong foundation in technologies such as Django, PostgreSQL, and RESTful APIs. My expertise in these areas comes from comprehensive coursework and an Advanced Web and Mobile Development certification from San Diego State University. I thrive in building robust, scalable backend solutions that enhance user experience and support seamless front-end interactions. With a solid understanding of backend architecture, database management, and API design, I am always eager to learn and adopt new technologies to stay ahead in the rapidly evolving tech landscape.
                       </p>
                    
                </div>
            </div>
        </div>
    </section>

    <!-- Skills Section -->
    <section id="skills">
        <h1 class="t-center my-2 t-white f-2">Skills</h1>
        <div class="services-container flex s-around h-50">
        <div class=" skills-left flex s-center items-center">
            <img src="{%static 'images/skills.png'%}" alt="" width="60%" height="90%">
        </div>

        <div class="skills-right flex items-center">
            <div class="skillss-container">
                <div class="python bar p-relative"><span class="bar-content left t-white"> Python</span><span
                        class="bar-content right-skills t-white">90%</span></div>
                <div class="javaScript bar p-relative"><span class="bar-content left t-white">JavaScript</span><span
                        class="bar-content right-skills t-white">90%</span></div>
                <div class="mySQL bar p-relative"><span class="bar-content left t-white">MySQL</span><span
                        class="bar-content right-skills t-white">80%</span></div>
                <div class="django bar p-relative"><span class="bar-content left t-white">Django</span><span
                        class="bar-content right-skills t-white">80%</span></div>
                <div class="java bar p-relative"><span class="bar-content left t-white">Java</span><span
                        class="bar-content right-skills t-white">70%</span></div>
                <div class="aws bar p-relative"><span class="bar-content left t-white">AWS</span><span
                        class="bar-content right-skills t-white">60%</span></div>        
            </div>
        </div>
        </div>
    </section>

    

    <!-- Projects Section -->
    <section id="Projects">
        <h1 class=" t-center my-2 t-white f-2">Projects</h1>
        <div class="projects-container flex s-center">
            <div class="projects-item flex f-col s-center items-center">
               
                <h1 class="t-white poppins">Employee Management System</h1>
                <p class="t-white poppins"> Developed a full-stack employee management app using React.js, Bootstrap, and Node.js, with CRUD operations and performance tracking. The app manages 1000+ employee records in MongoDB with optimized performance and secure architecture, backed by thorough UI and API testing.</p>
                <div class="buttons flex s-around">
                    <a href="https://github.com/lokesh2108/Employee-Management-System"
                        target="_blanks" class="btn mx-1 m-top">GitHub</a>
                    
                </div>
            </div>
            <div class="projects-item flex f-col s-center items-center">
               
                <h1 class="t-white poppins">To-Do API Integration Testing</h1>
                <p class="t-white poppins">Developed a Python script to automate integration testing for a RESTful To-Do API using the requests library, testing core functions like task creation, updating, listing, and deletion. Implemented test cases for end-to-end validation, improving API response accuracy by 20%.</p>
                <div class="buttons flex s-around">
                    <a href="" target="_blanks"
                        class="btn mx-1 m-top">GitHub</a>
                   
                </div>
            </div>
           
         </div>

        </div>
    </section>

    <!-- Contact Me Section -->
    <section id="Contact" class="m-b-1">
        <h1 class=" t-center my-2 t-white f-2">Contact Me</h1>
        <div class="contact-container flex s-around items-centers">
            <div class="form" id="contactForm">
                <form method="post" > 
                    {% csrf_token %}
                    <div class="name form-div">
                        <input type="text" name="name" id="name" class="poppins" placeholder="Enter Your Name">
                    </div>

                    <div class="email form-div">
                        <input type="email" name="email" id="" class="poppins" placeholder="Enter Your Email"
                            required>
                    </div>

                    <div class="phone form-div">
                        <input type="phone" name="number" id="" class="poppins" placeholder="Enter Your Phone"
                            required>
                    </div>
                    
                    <div class="textarea form-div">
                        <textarea name="content" id="textarea" cols="30" rows="10" class="poppins"
                            placeholder="Enter Messages"></textarea>
                    </div>
                    <button type="submit" class="btn poppins" id="submit">Send</button>
                </form>
            </div>
        </div>
    </section>

    <!-- Footer Section -->
    <footer id="footer">
        <ul class="flex s-center w-80 m-auto my-2 res">
            <li><a href="#home" class="poppinss">Home</a></li>
            <li><a href="#about" class="poppinss">About</a></li>
            <li><a href="#skills" class="poppinss">Skills</a></li>
            <li><a href="#projects" class="poppinss">Projects</a></li>
            <li><a href="#portfolio" class="poppinss">Portfolio</a></li>
        </ul>
        <ul class="flex s-center w-80 font-awesome ">
            <a href="" target="_blank">
                <li><i class="fa-brands fa-linkedin-in"></i></li>
            </a>
            <a href="" target="_blank">
                <li><i class="fa-brands fa-github"></i></li>
            </a>
                <a href="" target="_blank">
                    <li><i class="fa-brands fa-instagram"></i></li>
            </a>
            
        </ul>
        

    </footer>


  </body>
</html>
